body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  h1 {
    color: #3498db;
  }
  
  #container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    top: 100px;
    position:absolute;
    

    
  }
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 32px;
    accent-color: white ;
  }
  input:hover {
    background-color: #ebe5e5;
  }
  select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 32px;
    accent-color: white ;
  }

  select:hover {
    background-color: #ebe5e5;
   
  }
.btn-6 {

    scale: 0.7;
    width: 160px;
    height: 64px;
    border-radius: 32px;
    border: none;
    background-color: #2968bb;
    font-size: 18px;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .btn-6:active {
    animation: jello-horizontal 0.9s both;
  }
  
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  /*placehouder*/
  .field {
position: relative;
}
.field input {
color: #565656;
background: none;
padding: 0.625rem;
border: 2px solid #030104;
}

.field label {
position: absolute;
top: 0;
left: 0;
margin-bottom: 10       px;
margin-left: 15px;
translate: 0.625rem 0.625rem;
color: #030104;
background-color: white;
padding-inline: 0.25rem;
border: 0px solid transparent;
pointer-events: none;
transition: translate 250ms, 
background-color 250ms, 
border-color 250ms;
}

.field:focus-within Label,

.field:not(:has(:placeholder-shown)) 
label {
translate: 0.625rem -1rem;
 border-color: #030104;
}
 .field::placeholder {
color: transparent;
} 


