<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estoque</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="container">
        <h1>Estoque</h1>

<form action="/submit-produto.html" method="post">

    <div class="field"> 
    <label for="">Digite o lote</label>
    <input placeholder=" " type="text" id="lote"><br><br>
    </div>

    <div class="field">
    <label for="">Digite a data</label>
    <input placeholder=" " type="date" id="data"><br><br>
    </div>

    <div class="field"> 
    <label for="">Digite a quantidade</label>
    <input placeholder=" " type="text" id="quantidade"><br><br>
    </div>

    <div class="field"> 
    <label for="">Digite o valor de custo</label>
    <input placeholder=" " type="text" id="custo"><br><br>
    </div>

    <div class="field"> 
    <label for="">Digite o valor de venda</label>
    <input placeholder=" " type="text" id="venda"><br><br>
    </div>


    <button type="submit"  class="btn-6" >Cadastrar</button>
    <button type="reset" class="btn-6">limpar</button> 
   
</div>
</form>
</body>
</html>