<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://kit.fontawesome.com/4d9fd11b23.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <style>
        iframe {
   
    margin-top: 60px;
    height: 800px;
    width: 100%;
  }
    </style>
</head>
<body>
    <header>

        <div class="container">
                <div class="menu">
                    <nav>
                        <a target="conteudo" href="../view/cliente.html">Cliente</a>
                        <a target="conteudo" href="endereco.html">Endereço</a>
                        <a target="conteudo" href="produto.html">Produto</a>
                        <a target="conteudo" href="estoque.html">Estoque</a>
                        <a target="conteudo" href="tamanho.html">Tamanho</a>
                        <a target="conteudo" href="venda.html">Venda</a>
                </nav>
            </div>
        </div>
    </header>
    <div id="iframe">
        <iframe src="../view/cliente.html"  frameborder="0" name="conteudo" ></iframe>
    </div>
</body>
</html>