<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
    <h1>Produto</h1>
    <form action="../controller/recebeProduto.php" method="POST">
        <div class="field"> 
            <label for="nome">Digite o nome:</label>
            <input id="nome" type="text" name="nome" placeholder=" " required><br><br>
        </div>

        <div class="field"> 
            <label for="modelo">Digite o modelo:</label>
            <input id="modelo" type="text" name="modelo" placeholder=" " required><br><br>
        </div>

        <div class="field"> 
            <label for="tecido">Digite o tecido:</label>
            <input id="tecido" type="text" name="tecido" placeholder=" "><br><br>
        </div>

        <div class="field">
            <label for="marca">Digite a marca:</label>
            <input id="marca" type="text" name="marca" placeholder=" "><br><br>
        </div>

        <div class="field">
            <label for="cor">Digite a cor:</label>
            <input id="cor" type="text" name="cor" placeholder=" "><br><br>
        </div>

        <div class="field">
            <button type="submit" class="btn-6" onclick="audio.play();">Enviar</button>
            <button type="reset" class="btn-6" onclick="audio.play();">Limpar</button>
        </form>
    </div>
    <script src="play_audio.js"></script>
</body>
</html>
