<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tamanho</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <h1>Tamanho</h1>
        <form action="/submit-tamanho.html">
        
            <select name="tamanho" id="tamanho">
                <option value="">Selecione o tamanho</option>
                <option value="p">Tamanho P</option>
                <option value="m">Tamanho M</option>
                <option value="g">Tamanho G</option>
            </select>
        </form>
    
    <button type="submit" class="btn-6">Enviar</button>
    <button type="reset" class="btn-6">limpar</button> 
    </div>
</body>
</html>
</body>


</html>